ul {
    display: flex;
}

li {
    list-style-type: none;
}

.navbar-list-item {
    border-radius: 10px;
    margin-left: 1rem;
    padding: 0.8rem;
    color: white;

}

.navbar-list-item:hover {
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    color: black;
}

.navigator-container {
    display: flex;
    width: 100%;
    background: rgb(7,7,44);
    background: linear-gradient(90deg, rgba(7,7,44,1) 0%, rgba(41,11,85,1) 100%);
    justify-content: space-between;
    align-items: center;
}

.login-button {
    margin-right: 2rem;
}

a {

    text-decoration: none;
}

navbar-list-item {
    color: white;
    padding: 0.8rem;
}

navbar-list-item:hover {
    color: black;
    transition: 0.5s;

}