.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.input-group  input {
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
