body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #58515175;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container img {
    width: 150px;
    margin-bottom: 20px;
}

.container h2 {
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #666;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


